<form method="POST" action="/new">
  <h2>{{title}}</h2>
  <label>Name:</label>
  <input name="user" type="text" />
  <label>Message:</label>
  <input name="text" type="text" />
  <button type="submit">Make comment</button>
</form>