<div class="formContainer">
  <form method="POST" action="/new">
    <h2>{{title}}</h2>
    <label>Name:</label>
    <input id="userField" name="user" type="text" />
    <label>Message:</label>
    <input id="messageField" name="text" type="text" />
    <div>
      <button type="submit">Make comment</button>

    </div>
  </form>
</div>