* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
}

button {
  background-color: black;
  width: 30%;
  height: 5rem;
  border: 3px solid #0c9af2;
  padding: 3rem;
  margin-bottom: 3rem;
}
body {
  background-image: url(images/star\ wars\ background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  border: 3px solid #0c9af2;
  height: 350px;
  width: 600px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.parentContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentContainer * {
  margin: 1rem;
}
.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 20%;
  height: 5%;
}
